<div id="outer" class="flex_column">
  <header id="one">Shark Junior's</header>
  <nav id="two">
    <ul>
      <li><a href="#">Skate</a></li>
      <li><a href="#">Shoes</a></li>
      <li><a href="#">Apparel</a></li>
      <li><a href="#">Videos</a></li>
    </ul>
  </nav>
  <div id="center">
    <div class="flex_column">
      <h1>Top 5 videos of the week!</h1>
    </div>
    <div class="flex_column">
      <aside>Aside1
        XOXO four dollar toast green juice banh mi, wayfarers sartorial man bun gluten-free gochujang williamsburg 8-bit skateboard hella brooklyn. Cold-pressed gochujang swag, cardigan blue bottle celiac put a bird on it mumblecore gluten-free narwhal ennui biodiesel aesthetic godard ugh. Truffaut chia semiotics, everyday carry gluten-free four dollar toast cronut keffiyeh chillwave single-origin coffee plaid roof party mlkshk yuccie ugh. Artisan ramps meh, franzen tofu cornhole kombucha. Cronut ethical gentrify, next level health goth put a bird on it ugh humblebrag austin chia meditation sustainable jean shorts photo booth tattooed.
      </aside>
      <aside>Aside2
        Selvage quinoa pork belly, viral hashtag ramps godard stumptown helvetica ugh fingerstache bespoke keytar chartreuse gluten-free. Dreamcatcher hammock blog green juice, quinoa franzen cornhole twee lo-fi +1 helvetica before they sold out meggings. Marfa master cleanse scenester, godard forage shoreditch art party brooklyn kombucha. Ugh celiac photo booth, ramps art party mustache keffiyeh. Seitan sriracha hoodie, schlitz kitsch ethical shabby chic sartorial.
      </aside>
    </div>
  </div>
  <footer>Contact Info</footer>
</div>
