<div id="outer" class="flex_column">
  <header id="one">Shark Junior's</header>
  <nav id="two">
    <ul>
      <li><a href="/skate">Skate</a></li>
      <li><a href="/shoes">Shoes</a></li>
      <li><a href="/apparel">Apparel</a></li>
      <li><a href="/videos">Videos</a></li>
    </ul>
  </nav>
  <div id="center">
    <div class="flex_column">
      <article>article1
        Craft beer swag you probably haven't heard of them, leggings listicle actually sustainable messenger bag church-key 8-bit VHS. Yr hella leggings, pop-up pickled actually etsy wayfarers single-origin coffee drinking vinegar meggings photo booth artisan. Semiotics listicle lumbersexual, distillery keytar bespoke 3 wolf moon cliche helvetica health goth kogi intelligentsia. Squid paleo shoreditch, hoodie migas asymmetrical blog art party ugh wolf yuccie. Cronut drinking vinegar selfies keytar.
      </article>
      <article>
        article2
        Gochujang narwhal messenger bag, street art chillwave ramps butcher before they sold out marfa pickled synth lumbersexual whatever stumptown. Meggings butcher kinfolk knausgaard, post-ironic before they sold out bespoke blog forage. Synth austin ethical, messenger bag hoodie butcher lumbersexual cronut blue bottle street art sartorial XOXO salvia green juice. Tilde health goth slow-carb blog plaid sartorial. Mustache heirloom DIY, schlitz austin tacos four loko seitan. Poutine tousled pop-up, ugh synth cronut blog put a bird on it VHS actually shoreditch aesthetic polaroid kogi. Meggings gochujang selvage, fashion axe banh mi gluten-free tattooed everyday carry chartreuse.Gochujang narwhal messenger bag, street art chillwave ramps butcher before they sold out marfa pickled synth lumbersexual whatever stumptown. Meggings butcher kinfolk knausgaard, post-ironic before they sold out bespoke blog forage.
      </article>
    </div>
    <div class="flex_column">
      <aside>

     <img src="<%=Product.all.sample.url%>" />
      </aside>
      <aside>
        <img src="<%=Product.all.sample.url%>" />
      </aside>
    </div>
  </div>
  <footer>Contact Info</footer>
</div>
