// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: space-around;
}
li {
  list-style-type: none;
}
#center div:first-child {
  flex-grow: 2;
  flex-basis: 100em;
}
#center div:nth-child(2) {
  flex-grow: 1;
  flex-basis: 40em;
}

article {
  padding: 4em;
}

aside {
  padding: 3em;
  justify-content:center;
}
#one {
  flex-grow: 1;
  flex-basis: 10%;
}
#two {
  flex-grow: 1;
  flex-basis: 10%;
}
#center {
  display: flex;
  flex-grow: 3;
  flex-basis: 70%;
}
#skate-sort, #shoe-sort, #apparel-sort {
  padding-left: 5em;
}
footer {
  text-align: center;
}
header {
  font-size: 200%;
  text-align: center;
}
aside > img {
  max-height: 10em;
  max-width: auto;
}
//
//  img {
//   flex-basis: 8em;
//   max-width: 8em;
// }

body {
  // background-image: url(https://images6.alphacoders.com/423/423562.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: white;
}

nav{
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background-color: black;
  color: white;
}

#article1{
  height: auto;
  max-width: 800px;
  padding-left: 4em;
}
